body{
    background-color: #c09c9c ;
    background-size: cover;
    background-attachment:fixed;
}

title{
    text-transform: uppercase;
}

header{
    width: 190%;
    padding: 9 10px;
    display: flex;
    color: #fff9e8;
    background-color: darkslategray;
    position: fixed;
    top: 0;
    left: 0;
}


h1{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Luminari, fantasy';
    margin: 20px;
    text-shadow: 0 0 5px rgb(160, 153, 153), 0 0 15px rgb(182, 172, 172);
    color: white;
    padding-right: 1%;
    border-right: 4px solid gray;
}

/**/
#mainLogo{
    padding-top:20px;
}

.indexh2{
    text-align:center;
    color:cyan;
}

h2{
    color:black;
    text-align: center;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-radius:40px;
    margin-left: 1%;
    margin-right: 80%;
    margin-top: 150px;
    padding-left:1%;
    padding-right:1%;
    font-family: 'Century Gothic';
    text-transform: capitalize ;
    border-color: red;   
}

h3{
    color:darkblue;
    text-align: center;
    text-transform: capitalize;
    font-size:25px;
    font-family: 'Century Gothic';
}

h4{
    color:steelblue;
    text-align: center;
    font-size:20px;
}

#rechehceBienvenue{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    margin-bottom: 0;
}



input[type="text"]{
    background-color:lightgray;
    border-radius: 12px;
    margin-right: 20px;
    width: 300px;
    height: 30px;
}

input[type="text"]:hover{
    background-color:lightgray;
    border: 2px solid black; 
    border-radius: 12px;
    margin-right: 20px;
    width: 300px;
    height: 30px;
}

input[type="submit"]{
    margin-left: 20px;
    background-color: skyblue;
    border: 2px solid black; 
    border-radius: 12px;
    margin-right: 20px;
    font-size:16px;
    width: 90px;
    height: 30px;
}

input[type="submit"]:hover{
    color: black;
    background-color: lightskyblue;
    border: 2px solid black;    
    font-size:16px;
    transition: 0.2s;
}

input[type="submit"]:hover{
    transform: translateY(-2px);
    transition:0.3s;
}

table tr td input[type="submit"]{
    margin-left: 20px;
    color:black;
    font-size:15px;
    font-family:"Franklin Gothic Medium";
    background-color:cyan;
    border: 2px solid black; 
    border-radius: 12px;
    margin-right: 20px;
    width: 90px;
    height: 30px;
}

table tr td input[type="submit"]:hover{
    margin-left: 20px;
    color:black;
    background-color:cyan;
    border: 2px solid black; 
    border-radius: 12px;
    margin-right: 20px;
    width: 90px;
    height: 30px;
}


select{
    width: 90px;
    height:20px;
    border-radius: 40px;
    color: black;
    background-color: lightgray;
    margin-top:20px;
}


select:hover{
    width: 90px;
    height:22px;
    border-radius: 30px;
    color: black;
    background-color: lightgray;
    border: 1px solid black; 
    transition: 0.2s;
}

#legloc{
    color:cyan;
}

#searchlogo{
    margin-top: 20px;
}

fieldset{
    border-radius: 30px;
    border-block-start-color: gold;
    border-block-end-color: gold;  
}

article{
   /* background-color: rgba(41, 38, 38, 0.4);*/
    border-radius: 30px;
    margin-left:15%;
    margin-right:15%;
    margin-bottom: 4%;
    padding-top:4%;
    padding-bottom: 4%;
}

.monimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:45%;
    border-radius:40px;
}

figcaption{
    color:white;
    font-size: 15px;
    font-family: 'Goudy Old Style';
    text-align: center;
}

p{
    text-align: center;
}

footer{
    background-color: darkslategray;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding:10px;
    border-radius: 9px;
}

footer table {
    width: 100%;
    table-layout:fixed;
}

.foot-titre {
    color:powderblue;
    font-family:"Georgia";
    padding-bottom: 20px;
}

.foot-lines {
    font-family:"Garamond";
    color: white;
}

footer table tbody tr td a{
    font-family:"Garamond";
    color: white;
}


.menu li{
    display:inline;
    margin: 1px;
    color:#fff;
}

header nav{
    position: fixed;
    top: 6px;
    /* pour aligner les liens vers la droite
    right:0;
    */
    left:320px;
    justify-content: space-between;
}

nav ul li a{
    text-align: center;
    font-size: 20px;
    margin: 9px;
    text-decoration: none;
    text-shadow: 0 0 2px dimgray, 0 0 1px black;
    color: white;
    
}

nav ul li a:hover{
    color:deepskyblue;
    transition : 0.4s;
}


label{
    color:white;
    padding-left: 20px;
    padding-right:20px;
}

.global{
    text-align: center;
    font-family: 'cambria maths';
    font-size: 18px;
    text-indent: 0px;
    padding: 0px 500px;
}

.ourimgs{
    border-radius: 100%;
    text-align: center;
}

ol li{
    list-style-type: none;
}

.is{
    border-radius:0px;
    border-bottom: 1px solid rgb(83, 82, 82);
    padding: 1px;
    display: flex;
    font-family: 'cambria maths';
    justify-content: space-between;
    width: auto;
    height:auto;
    color: white;
}

.listeItemClass tr{
    table-layout: fixed;
}

.listeItemClass tr td {
    padding-right: 40px;
}

.centerItems {
    padding: 0;
    margin: 0;
    list-style-type: none;  
}



.listeItemClass {
    width: 100%;
    padding: 1%;
    table-layout: fixed;
}

/**
pour la page d'informations
*/
.details {
    background-color: none;
    color: white;
    text-align:center;
    font-family:"Comic Sans MS";

    
}

.details a{
    color: cyan;
}

.details a:hover{
    color: goldenrod;
    transition:0.4s;
}

.details img{
    margin-left:9%;
    width:auto;
    height:auto;
}

.boxtrysection {
    margin:6%;
    max-width: 80%;
    display: flex;
    overflow-x: auto;
}

.boxtrysection h2 {
    margin-top: 30px;
    position: absolute;
}

.bowItems{
    display: flex;
    overflow-x: scroll;
    padding-top: 20%;
    padding-bottom:2%;
    padding-left:2%;
    padding-right:2%;
}

.bowItems article{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 3%;
    justify-content: space-between;
    width: 185px;
    height:auto;
    transition: 0.4s;
    border-radius: 30px;
}
.bowItems article:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 18px 5px dimgray;
}

.randomimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius:40px;
}

#themehref {
    margin-top: 5px;
    padding: 1%;
}

.lastclass{
    margin-top:25px;
    margin-bottom:-40px;
    border-radius:15px;
     border-top: 0.1px solid gold;
    
}

h5{
    color: lightblue;
}

.litnit{
    width:35px;
    margin-top:-30%;
}

.upbutton{
    width:20px;
    margin-left:90%;
}
