@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body{
    background-color: #2b2a2a ;
    background-size: cover;
    background-attachment:fixed;
}

title{
    text-transform: uppercase;
}

header{
    width: 190%;
    padding: 9 10px;
    display: flex;
    color: #fff9e8;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul li, a{
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    font-size:15px;
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8 8px;
    
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 2px;
}

.nav_links li a{
    transition: 0.5s;
}

.nav_links li a:hover{
    color:#ff0080;
}

/**/
#mainLogo{
    margin-right:20px;
    padding-top:0.2%;
    padding-left:0.2%;
    animation: wiggle 2s linear infinite;
}

h1{
    margin-right:auto;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Luminari, fantasy';
    text-shadow: 0 0 5px rgb(160, 153, 153), 0 0 15px rgb(182, 172, 172);
    color: white;
    padding-right: 1%;
    border-right: 4px solid darkgray;
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(1);
        }
    15% {
      transform: rotateZ(15deg);
    }
    20% {
      transform: rotateZ(25deg);
    }
    25% {
      transform: rotateZ(30deg);
    }
    30% {
      transform: rotateZ(35deg);
    }
    35% {
      transform: rotateZ(40deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
}

.indexh2{
    text-align:center;
    color:cyan;
}

h2{
    color:chartreuse;
    text-align: center;
    font-size:190%;
    margin-top: 110px;
    font-family: 'Century Gothic';
    text-transform: capitalize ;
    /* border-right: 4px solid deeppink;
    border-left: 4px solid deeppink;
    border-top: 4px solid deeppink;
    border-bottom: 4px solid deeppink;
    border-radius:50px;
    padding:1%; */
}

h3{
    color:cyan;
    text-align: center;
    text-transform: capitalize;
    font-size:25px;
    font-family: 'Century Gothic';
}

h4{
    color:red;
    text-align: center;
    font-size:20px;
}

#rechehceBienvenue{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    margin-bottom: 0;
}



input[type="text"]{
    background-color:lightgray;
    border-radius: 12px;
    margin-right: 20px;
    width: 300px;
    height: 30px;
}

input[type="text"]:hover{
    background-color:lightgray;
    border: 2px solid black; 
    border-radius: 12px;
    margin-right: 20px;
    width: 300px;
    height: 30px;
}

input[type="submit"]{
    margin-left: 20px;
    font-size:90%;
    background-color: #ff0080;
    border: 2px solid black; 
    border-radius: 15px;
    margin-right: 20px;
    width: 90px;
    height: 30px;
}

input[type="submit"]:hover{
    color: white;
    font-size:90%;
    background-color: #ff0080;
    border: 2px solid black;     
    transition: 0.2s;
}

input[type="submit"]:hover{
    transform: translateY(-2px);
    transition:0.3s;
}

table tr td input[type="submit"]{
    margin-left: 20px;
    color:black;
    font-size:15px;
    font-family:"Franklin Gothic Medium";
    background-color:cyan;
    border: 2px solid black; 
    border-radius: 12px;
    margin-right: 20px;
    width: 90px;
    height: 30px;
}

table tr td input[type="submit"]:hover{
    margin-left: 20px;
    color:black;
    background-color:cyan;
    border: 2px solid black; 
    border-radius: 12px;
    margin-right: 20px;
    width: 90px;
    height: 30px;
}


select{
    width: 90px;
    height:20px;
    border-radius: 40px;
    color: black;
    background-color: lightgray;
    margin-top:20px;
}


select:hover{
    width: 90px;
    height:22px;
    border-radius: 30px;
    color: black;
    background-color: lightgray;
    border: 1px solid black; 
    transition: 0.2s;
}

#legloc{
    color:cyan;
}

#searchlogo{
    margin-top: 20px;
}

fieldset{
    border-radius: 30px;
    border-block-start-color: cyan;
    border-block-end-color: red;  
}

article{
   /* background-color: rgba(41, 38, 38, 0.4);*/
    border-radius: 30px;
    margin-left:15%;
    margin-right:15%;
    margin-bottom: 4%;
    padding-top:4%;
    padding-bottom: 4%;
}

.monimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    border-radius:40px;
}

figcaption{
    color:white;
    font-size: 15px;
    font-family: 'Goudy Old Style';
    text-align: center;
}

p{
    text-align: center;
    color:white
}

.legmain{
    color:cyan;
}

footer{
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding:10px;
    border-radius: 9px;
}

footer table {
    width: 100%;
    table-layout:fixed;
}

.foot-titre {
    color:royalblue;
    font-family:"Georgia";
    padding-bottom: 20px;
}

.foot-lines {
    font-family:"Garamond";
    color: white;
}

footer table tbody tr td a{
    font-size:18px;
    font-family:"Garamond";
    color: white;
}

footer table tbody tr td a:hover{
    font-family:"Garamond";
    color: gold;
    transition:0.3s;
}

header nav{
    position: fixed;
    top: 6px;
    /* pour aligner les liens vers la droite
    right:0;
    */
    left:320px;
    justify-content: space-between;
}

nav ul li a{
    text-align: center;
    font-size: 20px;
    margin: 9px;
    text-decoration: none;
    text-shadow: 0 0 3px gray, 0 0 1px black;
    color: white;
    
}

nav ul li a:hover{
    color:crimson;
    transition : 0.4s;
}


label{
    color:white;
    padding-left: 20px;
    padding-right:20px;
}

.global{
    color:white;
    text-align: center;
    font-family: 'cambria maths';
    font-size: 18px;
    text-indent: 0px;
    padding: 0px 500px;
}

.ourimgs{
    border-radius: 100%;
    text-align: center;
}

ol li{
    list-style-type: none;
}

.is{
    border-radius:0px;
    border-bottom: 1px solid rgb(83, 82, 82);
    padding: 1px;
    display: flex;
    font-family: 'cambria maths';
    justify-content: space-between;
    width: auto;
    height:auto;
    color: white;
}

.listeItemClass tr{
    table-layout: fixed;
}

.listeItemClass tr td {
    padding-right: 40px;
}

.centerItems {
    border-radius:20px;
    box-shadow: 2px 2px 18px 5px #545151;
    padding: 0;
    margin:90px ;
    list-style-type: none;  
    height : 500px;
    width:960px;
    overflow: auto;
}



.listeItemClass {
    width: 100%;
    padding: 1%;
    table-layout: fixed;
}

/**
pour la page d'informations
*/
.details {
    background-color: none;
    color: white;
    text-align:center;
    font-family:"Comic Sans MS";  
}

.details a{
    color: cyan;
}

.details a:hover{
    color: goldenrod;
    transition:0.4s;
}

.details img{
    margin-left:9%;
    width:auto;
    height:auto;
}

.boxtrysection {
    padding: 1%;
    min-width: 20%;
    border-radius: 20px;
    display: inline;
    text-align: center; 
}

.boxtrysection h2 {
    margin-top:100px;
    margin-bottom:1px;
}

.bowItems{
    overflow-x: auto;
    display: flex;
    padding-top: 10%;
    padding-bottom:2%;
    padding-left:2%;
    padding-right:2%;
}

.bowItems article{
    color: white;
    margin-top: 50px;
    padding: 2%;
    min-width: 20%;
    margin: 1%;
    display: inline;
    justify-content: space-between;
    transition: 0.4s;
    border-radius: 30px;
    border-right: 2px solid #414141;
    border-left: 2px solid #414141;
}

.bowItems article:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 18px 5px #413e3e;
}

.bowItems input[type="submit"]{
    background-color:#00c9ff;
    color:white;
    font-size:16px;
}

.bowItems input[type="submit"]:hover{
    transition:0.4s;
    background-color:#0184f8;
    color:white;
    font-size:16px;
}

.randomimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius:40px;
}

#themehref {
    margin-top: 5px;
    padding: 1%;
}

h5{
    color: dodgerblue;
}

.upbutton{
    width:20px;
    margin-left:90%;
}

/* .litnit{
    width: 38px;
    margin-top: -15px;
    margin-left:auto;
    padding-left:auto;
    padding-top:14%;
} */

.litnit{
    background: url(arrow.png) no-repeat;
    width:32px; 
    height:32px;
   
}

.fstdiv{
    position: relative;
    left: -55%;
    margin-top:-8%;
    margin-left:160%;
    border-left: 4px solid gray;
    display:flex
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    margin-bottom: 0;
}
 .geo{
    width: 60%;
    margin-top: -2%;
 }

 .recpageclr{
    color:white;
    padding-right: 1%;
}



.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 8px;
    border-radius:20px;
    box-shadow: 2px 2px 18px 5px #545151;
    margin:90px ;
    list-style-type: none;  
    height : 600px;
    width:auto;
    overflow: auto;
  }
  
.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item figure a img{
    border-radius:30px;
    width:150px;
    height:150px;
    transition:0.5s;
}

.grid-item figure a img:hover{
    border-radius:30px;
    box-shadow: 2px 2px 20px 8px #5e5a5a;
    transition:0.4s;
    transform: scale(1.1);
}

.sec {
    display: flex;
    flex-direction: row;
}

#details-info{
    padding: 1rem;
    padding-top: 0.5rem;
    flex-grow: 2;
}

#details-info-title, #details-info-description{
    margin-bottom: 1rem;
}

#details-info-description{
    display: -webkit-box;
}

.p2{
    text-align: left; 
    color:aliceblue;
}

figcaption h5{
    font-size:14px;
    color:rgb(13, 115, 240);
    font-family: 'Comic Sans MS'
}

figcaption h5:hover{
    font-size:16px;
    color:#03a2a2;
    font-family: 'Comic Sans MS';
    transition:1s;
}

.grid-containernumb2 {
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius:20px;
    box-shadow: 2px 2px 18px 5px #545151;
    margin:90px ;
    list-style-type: none;  
    height : 390px;
    padding-left:20px;
    width:100%;
    overflow-x: auto;
  }

  .grid-containernumb2 article figure a img{
    width:180px;
    border-radius:90px;
}

.lastMusiq {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:15%;
    height:15%;
    border-radius:70%;
}

.grid-containernumb3 {
    display:-webkit-inline-box;
    border-radius:20px;
    box-shadow: 2px 2px 18px 5px #545151;
    margin:90px ;
    list-style-type: none;  
    height : 360px;
    padding-left:20px;
    width:100%;
    overflow-x: auto;
}

.grid-containernumb3 figure a img{
    padding-top:80px;
    width:100%;
    border-radius:30px;
    transition:1s;

}

.grid-containernumb3 figcaption h4{
      color:white;
      padding-top:80px;
}

.grid-containernumb3 figure a img:hover{
    transform: scale(1.1);
    transition:0.4s;
}


.grid-containernumb4 {
    display:-webkit-inline-box;
    border-radius:20px;
    box-shadow: 2px 2px 18px 5px #545151;
    margin:90px ;
    list-style-type: none;  
    height : 330px;
    padding-left:20px;
    width:100%;
    overflow-x: auto;
}

.grid-containernumb4 figure a img{
    padding-top:30px;
    width:90%;
    border-radius:30px;
    transition:1s;

}

.grid-containernumb4 figcaption h4{
      color:white;
      padding-top:80px;
}

.grid-containernumb4 figure a img:hover{
    transform: scale(1.1);
    transition:0.4s;
}

#plansite {
    font-weight: bold;
    list-style: none;
}
#plansite li {
    margin: 0.5rem;
}
#plansite a{
    transition: 0.3s;
    color: #ffffff;
}
#plansite a:hover{
    transition: 0.3s;
    color: #00ff37;
}