body{
    background-color: rgb(38, 61, 61) ;
    background-size: cover;
    background-attachment:fixed;
    transition: 6s;
}

title{
    text-transform: uppercase;
}

header{
    height: ç0px;
    width: 190%;
    padding: 9 10px;
    display: flex;
    color: #fff9e8;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}


h1{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Luminari, fantasy';
    margin: 20px;
    text-shadow: 0 0 5px rgb(160, 153, 153), 0 0 15px rgb(182, 172, 172);
    color: white;
    padding-right: 1%;
    border-right: 4px solid gray;
}

h2{
    color:rgb(12, 158, 126);
    text-align: center;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-radius:40px;
    margin-left: 1%;
    margin-right: 80%;
    margin-top: 150px;
    font-family: 'Century Gothic';
    text-transform: capitalize ;
    border-color: rgb(12, 158, 126);   
}

h3{
    color:rgb(12, 158, 126);
    text-align: center;
    text-transform: capitalize;
    font-family: 'Century Gothic';
}

input[type="text"] {
    width: 160px;
    height:25px;
    border-radius: 40px;
    color: black;
    background-color: lightgray;
    margin-top:20px;
}

input[type="text"]:hover {
    width: 160px;
    height:25px;
    border-radius: 30px;
    color: rgb(250, 250, 244);
    background-color: rgb(46, 43, 43);
    border: 2px solid rgb(209, 188, 0); 
    padding-top:2px;
    padding-bottom:2px;
    padding-left: 2px;
    padding-right: 2px;
    transition: 0.5s;
}

#legloc{
    color:cyan;
}

#searchlogo{
    margin-top: 20px;
}

fieldset{
    border-radius: 30px;
    border-block-start-color: cyan;
    border-block-end-color: red;  
}

article{
    background-color: rgba(41, 38, 38, 0.4);
    border-radius: 30px;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 4%;
    padding-top:4%;
    padding-bottom: 4%;
}

.monimage{
    margin-left: 440px;
    border-radius: 40px;
    padding-left:20x;
    margin-right:90px;
    margin-left:305px;
}

figcaption{
    color:white;
    font-size: 15px;
    font-family: 'Goudy Old Style';
    text-align: center;
}

p{
    text-align: center;
}

footer{
    background-color:#302e2e;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding:40px;
    border-radius: 5px;
}